@media (max-width:400px) {
    .donation-container {
        min-width: 340px;
        max-width: 340px;
    }
    .ref-container {
        min-height: 478px;
        max-height: 478px;
    }
    .header {
        color: white;
        text-align: center;
        font-size: 15px;
    }
    .donation-address {
        color: white;
        font-size: 12px;
        text-align: center;
        margin-top: -41.41px;
    }
}

@media (min-width:401px) {
    .ref-container {
        min-height: 598px;
        max-height: 598px;
    }
    .header {
        color: white;
        text-align: center;
    }
    .donation-address {
        color: white;
        text-align: center;
        margin-top: -41.41px;
    }
}
