@media (min-width:1023px) {
    .table-body {
        min-height: 540px;
        max-height: 540px;
    }
}
@media (max-width:1023px) {
    .table-body {
        min-height: 540px;
        max-height: 540px;
    }
}
@media (max-width:600px) {
    .table-body {
        min-height: 420px;
        max-height: 420px;
    }
}